* {
  margin: 0;
  padding: 0;
}
.breadCrumb {
  display: block;

}
.headingClass {
  color: #252d41;
  font-size: 24px;
  font-family: "Open Sans";
}


.primaryDiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.list-item {
  list-style: none;
  display: flex;
  gap: 27px;
  color: #999999;
  font-size: 14px;
  font-family: "Open Sans";

}
.btnClassCourse{
margin-bottom: 40px;
}



.btn-enroll {
  width: 140px;
  height: 40px;
  background: #1d366f 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: center;
  font-size: 18px ;
  color: #ffffff;
  outline: none;
  border: none;
  margin-top: 16px;
  font-family: "Open Sans";
}

.subtitleClass {
  font-size: 21px;
  letter-spacing: 0px;
  color: #252d41;
  width: 158px;
  height: 24px;
  margin-bottom: 15px;
}



.paraClass {
  font-size: 19px;
  font-family: open Sans;
  letter-spacing: 0px;
  color: #252d41;
  opacity: 1;
}

.tabNav {
  width: 1366px;
  height: 58px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #0000000f;
  margin-left: 0;
  margin-right: 0;
}





.heding-dis {
  margin: 0 100px;
  padding: 20px;
  box-shadow: 0px 2px 4px #21212197;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #212121;
}

.instructorName {
  margin-top: 20px;
  color: #212121;
}

.breadCrumbsClass{
margin-bottom: 20px;
}

.paraCourse{
font-size: 14px;
font-family: "Open Sans";
}

.paraCourse1{
  color: #252D41;
  opacity: 0.7;
  font-size: 14px;
}


.headingClassmain{
margin-bottom: 16px;
}

.paraCourse{
  width: 499px;
  height: 40px;
  margin-bottom: 8px;
}