.container-login {
  width: 450px !important;
  height: 370px !important;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  opacity: 1;
  padding: 30px !important;
  margin-bottom: 15px;
  /* box-sizing: border-box; */
}
