.main-froum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-froum {
  width: 1165px;
  height: 147px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 5px 5px 1px 1px;
  opacity: 1;
  padding: 15px;
  margin-bottom: 10px;
}
.froum-sec {
  display: flex;
  align-items: center;
}
.froum-box {
  width: 50px;
  height: 40px;
  background: #eeeeee;
  border-radius: 5px;
  margin-right: 10px;
}
.from-text-sec {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
.from-chip {
  display: flex;
  justify-content: space-between;
}
.serch-inputs {
  display: flex;
  gap: 30px;
}
.froum-input {
  display: flex;
  justify-content: space-between;
  margin: 0 170px;
  padding: 20px 0;
}
.input-serch {
  position: relative;
}
.serch-icon {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
}
.inputs {
  width: 439px;
  height: 44px;
  background: #fcfcfc;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}
.btn-course {
  width: 198px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}
.btn-asked {
  width: 108px;
  height: 40px;
  background: #262626;
  border-radius: 4px;
  color: #fff;
}
